/* Sets all box-sizing to border-box */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    /* border: 1px solid red; */
  }

/* All with class of .flex has display of flex */
.displayFlex {
    display: flex;
}

.maxWidthCenter {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
}

.flex {
    flex: 1;
}

.btn {
    min-width: 0;
    width: 100%;
    height: auto;
    padding: 1em;
}

.score {
    padding: 1em;
}

#title {
    padding: 1em;
}

#response {
    padding: 1em;
}