/* Sets all box-sizing to border-box */
html {
    box-sizing: border-box;
    background: #F3F9D2;
    font-family: Arial, Helvetica, sans-serif;
    color: #63264A;
    font-weight: bold;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    /* border: 1px solid red; */
  }

.grow { 
transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1);
    filter:saturate(2);
}

/* All with class of .flex has display of flex */
.displayFlex {
    display: flex;
}

.maxWidthCenter {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
}

.flex {
    flex: 1;
}

.btn {
    min-width: 0;
    width: 100%;
    height: auto;
    padding: 1em;
    border: 1em solid #C0D684;
    border-radius: 50%;
    margin: 0 1em;
    background: #CBEAA6;
    cursor: pointer;
}

#restartBtn {
    background: #CBEAA6;
    color: rgb(79, 79, 79);
    padding: 1em;
    border-radius: .5em;
    border: 0.5em solid #C0D684;
    cursor: pointer;
}

.score {
    padding: 1em;
}

#title {
    padding: 1em 1em 0 1em;
}

#response {
    padding: 2em;
}

.resultImage {
    display: none;
}

#restartBtn {
    display: none;
    margin: 1em auto 2em;
}